@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root {
    --main-color: #009d95;
    --white: white;
    --pink: pink;
    --brown: #644e2f;
    --fontLight: 300;
    --fontRegular: 400;
    --fontBold: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*MI CSS*/
body {
  font-family: "Lato", sans serif;
  font-weight: var(--fontRegular);
  font-style: normal;
  padding-bottom: 70px;
}

.mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  padding: 10px;
  background-color: white;
  z-index: 9999;
}

.ham {
  display: none;
  width: 30px;
  height: 30px;
}

.ham span {
  display: block;
  background-color: var(--main-color);
  width: 100%;
  height: 5px;
  margin-bottom: 5px;
}


.logo img {
  width: 150px;
}

.categories nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.categories nav a {
  color: var(--main-color);
  text-decoration: none;
}

.language-selector select {
  padding: 10px;
  background-color: var(--pink);
  border: none;
  appearance: none;
}

.masthead {
  position: relative;
  padding: 65px 0 0 0;
}

.masthead img {
  width: 100%;
  filter: brightness(70%);
  transition: filter 1s ease;
}

.masthead img:hover {
  filter: brightness(85%);
}
.masthead article {
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 20px;
  border-radius: 5px;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.400);
}
.masthead article p {
  font-weight: var(--fontLight);
  margin-bottom: 10px;
}
.masthead article h2 {
  font-weight: var(--fontBold);
  font-size: 20px;
  margin-bottom: 20px;
}
.masthead article button {
  padding: 10px;
  background-color: var(--pink);
  font-weight: var(--fontBold);
  cursor: pointer;
  border: none;
}

.degradado {
  display: none;
}

.close-menu {
  display: none;
  cursor: pointer;
}

section > h2 {
  padding: 20px;
  font-size: 30px;
  font-weight: var(--fontLight);
}

.secciones {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
  text-align: center;
}

section > h2 a {
  font-size: 30px;
  font-weight: var(--fontLight);
  text-decoration: none;
  color: black;
}


footer div p {
  background-color: var(--pink);
  border-radius: 15px;
  padding: 20px;
  color: grey;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 30px;
  z-index: 1000;
  height: 70px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin: 0 80px;
}

.footer-content p {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15 px 10px;
  margin 20px 20px;
}
.footer-content a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 800px) {
  .ham {
    display: block;
    cursor: pointer;
  }
  
  .close-menu {
    display: block;
    font-size: 20px;
    font-weight: var(--fontBold);
    margin: 20px;
    color: var(--main-color);
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 10px;
  }
  .categories {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    padding: 40px 20px 20px 20px;
    background-color: white;
    transition: left 1s ease;
    z-index: 999;
  }
  .categories nav {
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
  }
  .visible-menu {
    left: 0;

  }
  .footer-content {
    padding: 10px 15 px;
    font-size: 14px;
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 700px) {
  .masthead article  {
    position: static;
    background-color: var(--brown);
    margin-top: -10px;
  }
  .degradado {
    display: block;
    position: relative;
    background: linear-gradient(180deg,rgba(119, 91, 51, 0) 0%, rgba(119, 91, 51, 1) 100%);
    width: 100%;
    height: 65px;
    margin-top: -60px;
  }
}





